@media (max-width:479px){

    #main-for-contact .contactus_page_01{
        flex-direction: column;
        width: 100%;
        gap: 1px;
    }
    #main-for-contact #scrol-something h1{
      font-size: 1.4rem;

    }
    #main-for-contact .contactus_page_01 .partfor_info{
        height: 50%;
        width: 90%;
        border: 2px solid black;
        
    }  
    #main-for-contact .contactus_page_01 .partfor_info h2{
        font-size: 1.3rem;
    }
    #main-for-contact .contactus_page_01 .partfor_info .box_info {
        font-size: 0.9rem;
    }

    #main-for-contact .contactus_page_01 .clg_location{
        height: 20%;
        width: 90%;
        margin-right:20px;
        border: 2px solid black;
    }
    #main-for-contact .contactus_page_01 .clg_location h2{
        font-size: 1.3rem;
    }
    #contact-us-page-02{
    width: 90%;
        
      
      }
      #contact-form-container{
        width: 90%;
      
      }
      #contact-form-container #form-itself form>div{
        font-size:2rem;
      }
      #contact-form-container #form-itself form>div input,select, button, textarea{
        font-size: 0.8rem;
      }
}